/*--------------articulos----------------*/
section.articulos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
/*--------------fin articulos----------------*/