/*--------------articulos----------------*/
section.articulos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    & .card{
        background-color:$colorArt;
        border-color: black;
        border-radius: 10px;
        box-shadow: 5px 5px 5px;
        width: 500px;
        height: 200px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding:10px;
        margin: 1%;
        & .card__img{
            width: 40%;
            & img{
                width: 90%;
                border-radius: 10px;
            }
        }
        .card__text{
            width: 60%;
        }
        & h5{
            margin: 0%;
        }
        & p{
            margin: 0%;
        }
    }
    & #reversa{
        flex-direction: row-reverse;
        .card__img{
            display: flex;
            justify-content: end;
        }
    }
}
.subir-section {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    width: 6.6rem;
    height: 6.6rem;
    z-index: 1;
    & .subir-btn {
        background-color: $colorText;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.5s;
        transform: translate(-50%, -50%);
        & i {
            position: absolute;
            font-size: 5.5rem;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0);
            color: black;
            transition: 0.5s;
        }
    }
}
.show {
    & .subir-btn {
        animation: subir 0.5s ease-in-out;
        width: 6rem;
        height: 6rem;
        & i {
            transform: translate(-50%, -50%) scale(1);
        }
    }
}     

/*--------------fin articulos----------------*/