/*aside*/
aside#cajaTexto{
    overflow: auto;
    background-color: $colorNav;
    border: 1px solid black; 
    margin: 0 10%;
}
aside.texto{
    display: none;
}
aside#gifs{
    width: 50%;
    margin: 1% auto;
    & .tamanoGifs{
        width: 100%;
        height: 450px
    }
}