/*---------------------------mayorista----------------------*/
section.mayorista{
    & table{
        margin: 0 auto 2%;
        border: 3px dotted black;
        text-align: center;
        font-size: 1.25rem;
        font-family: $textP;   
        & th{
            font-family: $textH2;
            font-size: 1.5rem;
            border: dotted black;
            padding: 20px;
        }
        & td.precio{
            border-left: 3px dotted black;
            border-bottom: 3px dotted black;
        }
    }
}
/*---------------------------fin mayorista-------------*/