/*-------------------------------------medias----------------------------------------------------*/
@media (min-width: 320px) and  (max-width: 768px){
    body{
        height: 100vh;
        header{
            font-size: 1.2rem;
            & .navbar{
                box-shadow: none;
            }
            & .navbar img{
                width: 50px;
                height: auto;
            }
        }
        p{
            font-size: 1rem;
            line-height: normal;
            margin: 3%;
        }
        h2{
            font-size: 1.3rem;
        }
        h5{
            font-size: 1.2rem;
        }
        main.inicio {
            width: 90%;
            & h1{
                font-size: 2rem;
            }
            & img{
                height: 200px;
            }
        }
        section.inicio{
            width: 90%;
            margin-left: auto;
        }
        aside.inicio{
            & .carousel{
                width: 90%;
                height: auto;
                margin: 1% 0;
            }
        }
        section.articulos{
            & .tamanoArt{
                width: 50%;
                display: flex;
                margin: auto;
            }
        } 
        section.mayorista{
            & table{
                width: 90%;
                height: auto;
                font-size: 1rem;
                margin: 1% auto;
                & th{
                    font-size: 1.10rem;
                }
                & td{
                    padding: 10px 10px;
                }
                & .codigo{
                    display: none;
                }
            }
        }
        section.contacto{
            width: 90%;
            & #contacto{
                margin: 5% 0;
            }
            & form fieldset input{
                width: 90%;
            }
            & form fieldset textarea{
                width: 90%;
            }
            & .btn--default{
                width: 250px;
            }
        }
    }
}
@media (min-width: 320px) and  (max-width: 805px){
    footer{
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        & #no{
            display: none;
        }
    }
}
@media (min-width: 320px) and  (max-width: 1200px){
    section.combos {
        width: 90%;
        margin: auto;
        & img{
        display: none;
        }
    } 
}
/*-------------------------------------fin medias-------------------------------------------------*/


