/*todas las paginas por igual*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #BA9A7F;
    height: 100vh;
}
header{
    font-family: 'Quicksand', sans-serif;
    font-size:1.5rem;
    width: 100%;
}
header nav.navbar{
    margin: 2% 2%;
    background-color:#E0BA99 ;
}
header nav.navbar ul li a{
    text-decoration: none;
    color: #246d24;
    text-align: center;
}
header nav.navbar ul li a:hover{
    text-shadow:2px 2px 2px white; 
    color:black;
}
header nav.navbar img{
    width: 100px;
    height: auto;
}
h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 2.5rem;
    margin:3%;
}
p{
    text-align: center;
    font-size:1.5rem;
    font-family: 'Quicksand', sans-serif;
    line-height: 2.5rem;
}
span{
    text-shadow:2px 2px 2px white; 
    color:#000;
}
strong{
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    background-color: #E0BA99;
    justify-content: space-evenly;
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 1.25rem;
    padding: 2% 5%;
}
strong i{
    padding: 10px;
}
/*------------------------------------------------------------------------------------------------*/
/* definicion de grids area*/
div#contenedorIc{/*inicio, contacto*/
    display: grid;
    grid-template-areas: 
    "header header"
    "main main"
    "section aside"
    "strong strong";
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}
div#contenedorAmc{ /*articulos, mayorista y contactos*/
    display: grid;
    grid-template-areas: 
    "header header"
    "main main"
    "section section"
    "strong strong";
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: auto auto;
    height: 100vh;
}
div#contenedorCombos{/*combos*/
    display: grid;
    grid-template-areas: 
    "header header"
    "main aside"
    "section section"
    "strong strong";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 100vh;
    gap: 30px;
}
header{
    grid-area: header;
}
main{
    grid-area: main;
}
section{
    grid-area: section;
}
aside{
    grid-area: aside;
}
strong{
    grid-area: strong;
}
/*------------------------------------------------------------------------------------------------*/
/*inicio*/
main h1{
    margin: 1% auto;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 5rem;
    color: #74573f;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}
/*------------------------------------------------------------------------------------------------*/
/*articulos*/
section#art{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0% 5%;
    background-color:#97826e;
}
h5{
    text-align: center;
    color:#246d24;
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 1.25rem;
}
/*------------------------------------------------------------------------------------------------*/
/*mayorista*/
table{
    border: 3px dotted black;
    margin:auto;
    background-color:#f5b580;
    margin-bottom: 2%;
}
table th{
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 1.25rem;
    border:dotted #000;

}
table td{
    border-right:dotted #000; ;
    border-left:dotted #000; ;
    text-align: center;
    font-size:1.5rem;
    font-family: 'Quicksand', sans-serif;
    padding: 10px 50px;
}
table td.precio {
    border-top: dotted #000;
    border-bottom: dotted #000; 
    background-color: #7A6653 ; 
}
/*------------------------------------------------------------------------------------------------*/
/*combos*/
section#combos img{
    width: 200px;
    height: auto; 
    margin: 5px;
}
section div.comboDerecha{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
section div.comboIzquierda{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
aside.area{
    margin: 0% 10%;
}
aside#cajaTexto{
    overflow: auto;
    background-color: #E0BA99;
    border: 1px solid black; 
    padding: 2% 2%;
}
aside.texto{
    display: none;
}
/*------------------------------------------------------------------------------------------------*/
/*Contacto*/
section #contactos{
    display: flex;
    justify-content: center;
    background-image: url(./Recursos/fondocontacto.jpg);
    margin: 3% auto;
    border-radius: 100px;
    border: 3px solid black;
}
section form fieldset legend.legendaContacto{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
}
section form fieldset.texContacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size:1.25rem;
    font-family: 'Quicksand', sans-serif;
}
section form fieldset input{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size:1rem;
    border-radius: 10px;
    padding:10px 150px;
    margin: 1%;
}
section form fieldset textarea{
    background-color: #000;
    color: white;
    text-align: center;
    margin: 30px;
    padding:20px 20px;
    border-radius: 50px;
    width: 500px;
    height: auto;
}
/*------------------------------------------------------------------------------------------------*/
/*medias*/
@media (min-width: 320px) and  (max-width: 768px){
    body{
        height: 100vh;
    }
    header nav.navbar img{
        width: 50px;
        height: auto;
    }
    main h1{
        font-size: 2rem;
    }
    p{
        font-size: 1rem;
        line-height: normal;
        margin: 3%;
    }
    h2{
        font-size: 1.5rem;
    }
    h5{
        font-size: 1.2rem;
    }
    strong{
        font-size: 1rem;
    }
    header{
        font-size: 1.2rem;
    
    }
    section#art{
        display: flex;
    }
    section#art img{
        width: 150px;
        height: auto;
        margin: 0 100px;
    }
    table{
        height: 100vh;
        margin: 1% auto 5%;

    }
    table .codigo{
        display: none;
    }

    table td{
        padding: 10px 10px;
    } 
    section#combos img{
        width: 70px;
        height: auto;
    }
    section form fieldset input{
        padding:10px 50px;
        width: 95%;
    }
    section form fieldset textarea{
        width: 95%;
        height: auto;
        margin-bottom: 10px;
    }
    #no{
        display: none;
    }
}
@media (min-width: 320px) and  (max-width: 805px){
    strong{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
/*------------------------------------------------------------------------------------------------*/
/*transformaciones, animaciones, transcisiones*/
table{
    background-image: linear-gradient(to right, #e0ba99,#7A6653);
}
section#art{
    box-shadow: 5px 5px 10px black;
    margin-bottom: 5%;
}
@keyframes fondoAnimado{
    0%{
        background-image: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
div.comboDerecha{
    background-image:linear-gradient(135deg, black, rgb(138, 70, 116), green, blue, brown);
    background-size: 500%;
    animation: fondoAnimado 15s infinite;
    box-shadow: 5px 5px 8px black;
}
div.comboIzquierda{
    background-image:linear-gradient(135deg, green, blue, brown, rgb(138, 70, 116), black);
    background-size: 500%;
    animation: fondoAnimado 15s infinite;
    width: 100%;
    height: auto;
    box-shadow: 5px 5px 8px black;
}
section#combos p{
    color: white;
}
.animate__animated.animate__slideInUp {
    --animate-duration: 10s;
}
:root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
}
/*------------------------------------------------------------------------------------------------*/
